/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }

body {
    text-rendering: optimizeLegibility;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;  
    background-color: #f5f5f5;
}

.kontejner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.slogan {
    font-size:16px;
    font-weight: 500;
    margin-left: 30px;
    color: white;
    margin-top: 30px;
}

.cena {
    font-size:28px;
    font-weight: 500;
    display: flex;
    flex-direction: row-reverse;    
}

.zaruka {
    font-size:12px;
    font-weight: 400;
    display: flex;
    flex-direction: row-reverse;   
}

.nazev {
    font-size: 20px;
    font-weight: 500;
    margin-left:30px;
    margin-top: 30px;
}

.produkt {
    color: #959595;
    margin-left:30px;
}

.popis {
    margin-left:30px;
    border-bottom: 2px solid #06d7c1;
    padding-bottom: 30px;
    margin-right: 30px;    
}

.parametr {
    margin-left:30px; 
}

.velikosti {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 30px;   
    padding-right: 30px;   
}

.logo{
    position: static;
    z-index: 1;
    margin-top: 30px;
    margin-left: 30px;
}

.bota {
    position: relative;
    right:70px;
}

.tlacitko {
    box-sizing: border-box;
    background-color: #f15f42;
    position: relative;
    top:43px;    
    border-radius: 10px;    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-style: normal;
    margin-left:30px;
}

.vybrana {
    color:  #f15f42;
    border-left: 1px solid #f15f42;
    border-top: 1px solid #f15f42;
    border-bottom: 1px solid #f15f42;
    border-right: 1px solid #f15f42;
    border-radius: 50%;
    padding: 2px;
    position: relative;
    top:-3px;    
}

.zbozi {
    width: 670px;
    height: 440px;
    display: flex;
}

.vizual {
    background-image: linear-gradient(#06d7c1, #50cc49);
    width: 335px;
    height: 440px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.detaily {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 335px;
    height: 440px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cenovka {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: white;
    position: relative;
    bottom: 70px;    
}




/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik

 KULATE ROHY
 border-radius: 30px;
*/

/* ----- zde zacni psat vlastni css ----- */
